<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>107734109289-ihd223m2ie9rkrbh423v8ibd25q6brpt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107734109289-ihd223m2ie9rkrbh423v8ibd25q6brpt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>107734109289-dpkh9bfd1gnuphte8ivef7i14dpgec87.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDChR8MtPlm_TOU3uFHqlfzyT03rmkIP4M</string>
	<key>GCM_SENDER_ID</key>
	<string>107734109289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bk1031.myWB</string>
	<key>PROJECT_ID</key>
	<string>mywb-app</string>
	<key>STORAGE_BUCKET</key>
	<string>mywb-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107734109289:ios:611c0dcf119c9d4bb526f8</string>
	<key>DATABASE_URL</key>
	<string>https://mywb-app.firebaseio.com</string>
</dict>
</plist>